flask
psycopg2-binary
flask_sqlalchemy
flask_script
flask_migrate
sqlalchemy
bs4
aiohttp
sqlalchemy
python-dotenv
gunicorn
requests
sendgrid
h5py
redis
rq

numpy
pandas
scikit-learn==0.19.1
scipy
tensorflow
vowpalwabbit
xgboost

pytest
pytest-env
